<section>
	<div class="row">
		<div class="col-xs-12">
			<h2 class="section-header">Coding</h2>
			<p>I have been coding for a little over 15 years and, in that time, have learned the importance of learning itself. A good coder learns. A great coder learns even more. This is a rich ecosystem where opportunities to learn, grow, and mess up abound. Great coders adapt and avail themselves of these enormous advantages.</p>
			<p>With the ubiquity of the web, secure coding has never been more important. The extra time invested in secure coding practices is well worth the effort. Protecting the client's data and interests is worth the upfront investment in ensuring information security, especially as the amount of time required to code securely in the first place has been declining in recent years.</p>
			<blockquote>
				<p>"Machines take me by surprise with great frequency."</p>
				<footer>Alan Turing</footer>
			</blockquote>
		</div>
	</div>
</section>
