<section>
	<h2 class="text-center">Advocacy</h2>
	<div class="row row-flex row-flex-wrap">
		<div class="col-sm-6">
			<div class="box-dark">
				<h3>IPv6</h3>
				<p>I have always been an early adopter and advocate of IPv6. The sooner we all transition from legacy IPv4 to IPv6, the faster and smoother the internet will operate. Excuses to stay with IPv4 are running out faster than IPv4 addresses themselves! IPv6 is easy to deploy and program.</p>
				<p>I have deployed dual stacked IPv4/IPv6 mail and web services for my main domain, as well as integrated IPv6 awareness in the main curriculum at Deep Dive Coders.</p>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="box-dark">
				<h3>Net Neutrality</h3>
				<p>The internet was designed as an equal playing field for all involved. Letting other players decide which traffic has priority over which cuts at the very fabric the internet is woven with. A free, transparent, and open internet is the only way to ensure the well being of the internet we have all come to enjoy these past decades.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<blockquote class="blockquote">
				<p>"I hope we will use the Net to cross barriers and connect cultures."</p>
				<footer>Tim Berners-Lee</footer>
			</blockquote>
		</div>
	</div>
</section>
