<section>
	<div class="row">
		<div class="col-xs-12">
			<h2 id="about">Teaching</h2>
			<p>I have been teaching in some capacity since 2004. Computer science has been my craft all my life. A craft is only as good as its practitioners. And the better the practitioners, the better the craft. My purpose in life is to improve the craft, one student at a time.</p>
			<p>My teaching technique is an honest look at the challenges we all face in this rigorous field: persevere, make mistakes, and learn from the difficulties even senior software developers face. It is based on fostering pragmatic, steadfast, and thorough problem solvers - rather than people who simply know how to type code.</p>
			<blockquote class="blockquote">
				<p>"It is the supreme art of the teacher to awaken joy in creative expression and knowledge."</p>
				<footer>Albert Einstein</footer>
			</blockquote>
		</div>
	</div>
</section>
