<div class="sfooter">
	<div class="sfooter-content">
		<header class="container" id="top">
			<nav class="navbar navbar-fixed-top navbar-expand-lg">
				<a class="navbar-brand" routerLink="/">Deep Dive Dylan</a>
				<button type="button" class="navbar-toggler" aria-expanded="false" (click)="toggleCollapse();">
					<span class="sr-only">Main Menu</span>
					<fa-icon [icon]="faBars"></fa-icon>
				</button>
				<ul class="nav navbar-collapse justify-content-end" [class.collapse]="navCollapse" (click)="toggleCollapse();">
					<li class="nav-item"><a class="nav-link" routerLink="/"><fa-icon [icon]="faHome" size="lg"></fa-icon></a></li>
					<li class="nav-item"><a class="nav-link" routerLink="/advocacy">Advocacy</a></li>
					<li class="nav-item"><a class="nav-link" routerLink="/teaching">Teaching</a></li>
					<li class="nav-item"><a class="nav-link" routerLink="/coding">Coding</a></li>
					<li class="nav-item"><a class="nav-link" routerLink="/contact">Contact</a></li>
					<li class="nav-item"><a class="nav-link" routerLink="/resume">Resume</a></li>
				</ul>
			</nav>
		</header>
		<main class="container">
			<router-outlet></router-outlet>
		</main>
	</div>
	<footer class="footer">
		<div class="container">
			&copy; 2019 Dylan McDonald. Released under the terms of the <a
			href="https://www.apache.org/licenses/LICENSE-2.0">Apache 2.0 license</a>.
		</div>
	</footer>
</div>
