<section *ngIf="resumeData !== null">
	<div class="row">
		<div class="col-md-9">
			<h1>{{ resumeData.firstname }} {{ resumeData.familyname }}</h1>
			<p>
				<span *ngFor="let star of resumeData.bio_data.stars; let last = last">
					{{ star }} <fa-icon *ngIf="last === false" [icon]="faStar"></fa-icon>
				</span>
			</p>
		</div>
		<div class="col-md-3">
			<ul class="fa-ul">
				<li><fa-icon [listItem]="true" [icon]="faEnvelope"></fa-icon><a [href]="'mailto:' + resumeData.bio_data.email">{{ resumeData.bio_data.email }}</a></li>
				<li><fa-icon [listItem]="true" [icon]="faGlobe"></fa-icon><a [href]="resumeData.bio_data.website">{{ resumeData.bio_data.website }}</a></li>
				<li><fa-icon [listItem]="true" [icon]="faPhone"></fa-icon><i class="fa fa-li fa-phone" aria-hidden="true"></i> <a [href]="formatPhone(resumeData.bio_data.phone)">{{ resumeData.bio_data.phone }}</a></li>
				<li><fa-icon [listItem]="true" [icon]="faLinkedin"></fa-icon> <a [href]="'https://www.linkedin.com/in/' + resumeData.linkedin_id">/in/{{ resumeData.linkedin_id }}</a></li>
				<li><fa-icon [listItem]="true" [icon]="faTwitter"></fa-icon> <a [href]="'https://twitter.com/' + resumeData.twitter_id">{{ resumeData.linkedin_id }}</a></li>
				<li><fa-icon [listItem]="true" [icon]="faGithub"></fa-icon> <a [href]="'https://github.com/' + resumeData.github_id">{{ resumeData.github_id }}</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<h2><fa-icon [icon]="faUser"></fa-icon> Qualifications Summary</h2>
		<ul>
			<li *ngFor="let qualification of resumeData.bio_data.summary.points">{{ qualification }}</li>
		</ul>
	</div>
	<div class="row">
		<h2><fa-icon [icon]="faCode"></fa-icon> Technical Skills</h2>
		<ul>
			<li *ngFor="let detail of resumeData.skills.details">
				{{ detail.type }}:
				<span *ngFor="let item of detail.items"> <span class="badge badge-default">{{ item.name }}</span></span>
			</li>
		</ul>
	</div>
	<div class="row">
		<h2><fa-icon [icon]="faCodeBranch"></fa-icon> GitHub Projects</h2>
	</div>
	<div *ngFor="let project of resumeData.github_projects.details">
		<div class="row">
			<div class="col-md-8">
				<h4><a [href]="'https://github.com/' +  project.project_name">{{ project.project_name }}</a></h4>
			</div>
			<div class="col-md-4">
				<p><em>{{ project.tagline }}</em></p>
			</div>
		</div>
		<div class="row">
			<ul>
				<li *ngFor="let item of project.description">{{ item }}</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<h2><fa-icon [icon]="faGraduationCap"></fa-icon> Education</h2>
		<table class="table table-hover table-responsive">
			<tr><th>Degree</th><th>Major</th><th>Institution</th><th>Graduation Year</th></tr>
			<tr *ngFor="let school of resumeData.education.schools">
				<td>{{ school.degree }}</td>
				<td>{{ school.major }}</td>
				<td>{{ school.institution }}</td>
				<td>{{ school.graduation_year }}</td>
			</tr>
		</table>
	</div>
	<div class="row">
		<h2><fa-icon [icon]="faBriefcase"></fa-icon> Professional Experience</h2>
	</div>
	<div *ngFor="let item of resumeData.experience.items" class="row">
		<h4>
			<em>{{ item.title }}</em>, {{ item.organisation }}, {{ item.location }}
			<span class="pull-right">{{ item.from }} - {{ item.to }}</span>
		</h4>
		<ul>
			<li *ngFor="let detail of item.details">{{ detail }}</li>
			<li>
				Technologies used:
				<span *ngFor="let tool of item.technology_used.tools"> <span class="badge badge-default">{{ tool.name }}</span></span>
			</li>
		</ul>
	</div>
	<div class="row">
		<h2><fa-icon [icon]="faBook"></fa-icon> Research Experience</h2>
	</div>
	<div *ngFor="let item of resumeData.research_experience.items" class="row">
		<h4>
			<em>{{ item.title }}</em>, {{ item.organisation }}
			<span class="pull-right">{{ item.from }} - {{ item.to }}</span>
		</h4>
		<ul>
			<li *ngFor="let point of item.points">{{ point }}</li>
		</ul>
	</div>
</section>
